* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
  height: 100vh;
}

main {
  /* display: block; */
  margin: auto;
  background-color: #fff;
  width: 736px;
  padding: 40px;
}

.hero-img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 40px;
}

.header-title {
  color: hsl(24, 5%, 18%);
  font-family: 'Young Serif';
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 32px;
}

.recipe-summary-text {
  color: hsl(30, 10%, 34%);
  font-family: 'outfit';
  line-height: 1.5;
  margin-bottom: 32px;
}
